@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.logo {
    width: 80px !important;
    height: 80px !important;
}

.item {
  transition: .5s ease-in-out;
}

.item:hover {
  filter: brightness(80%);
}

.line-1 {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  font-size: 3vw;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #f3f3f3;
  color: #7C7C7D;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #7C7C7D;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #7C7C7D;
}

.box {
  margin: 40px 0;
}

form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  padding: 50px 5px;
  border: 1px solid #0645ad;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 5px #0645ad;
  background-color: #ffffff;
  
}

.name, .email, #message {
  width: 90%;
  padding: 10px 0;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  color: #000000;
  outline: none;
}

#message {
  resize: none;
}

.button {
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background-color: #0645ad;
  color: #ffffff;
  transition: 0.3s;
  border: none;
  border-radius: 20px;
}

button:hover {
  background-color: #03378c;
}

